node_modules
tests
.github
.idea
.vscode
*.md
!.github
!README.md
!LICENSE.md
.git
.gitignore
.prettierrc
.prettierignore
.editorconfig
docker-compose.yml
Dockerfile
.git/
.DS_Store
*.log
coverage
dist

